@tailwind base;

@tailwind components;

@tailwind utilities;

html, body {
    @apply w-full h-full;
    @apply antialiased;
}

/* default theme */
body { background: linear-gradient(45deg, #D2D8E3, #BCC6D7); }
#countdown-wrapper { @apply text-blueish-dark; }
#current-time { @apply bg-blueish-light text-white; }
#footer-header { @apply text-blueish-dark; }

.congress { background: linear-gradient(45deg, theme('colors.yellow.100'), theme('colors.yellow.400')); }
.congress #countdown-wrapper { @apply text-yellow-900; }
.congress #current-time { @apply bg-yellow-500 text-yellow-900; }
.congress #footer-header { @apply text-yellow-900; }

.distord {
    transform: skewX(-22deg);
    opacity: 8%;
    width: 300px;
}